/* .sen-sidebar {
  width: 20vw;
  height: 100%;
  background-color: #e9e9e9;
}

.sen-sidebar.active {
  left: 0;
  transition: 3500ms;
}

.sen-sidebar-show {
  width: 25px;
  height: 25px;
  background-color: #717070;
}
.sen-sidebar2 {
  display: flex;
  justify-content: flex-end;
  width: 2vw;
  height: 100%;
}
.sen-sidebar-show2 {
  width: 25px;
  height: 25px;
  background-color: #717070;
} */
