.subscript-banner {
    height: 200px;
    width: 80%;
    background-color: #EAEBF1;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.t-box {
    /* background-color: aqua; */
    padding: 0px 70px 0px 100px;
}

.t-box2 {
    /* background-color: aqua; */
    padding: 0px 70px 0px 100px;
    display: flex;
    text-align: right;
}