.lp-re {
  text-align: left;
  align-items: flex-start;
}

.head-font-re {
  font-size: 38px;
  font-weight: 600;
  color: #424358;
}

.low-font-re {
  margin-top: -1rem;
  margin-bottom: 1rem;
  opacity: 0.5;
  font-weight: 500;
}

.myinput-re {
  display: flex;
  height: 40px;
  width: 360px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2 px;
  border-color: #5356b3;
  background: #ffffff;
  padding: 10px;
}

.myinput-re:focus {
  border-color: #5356b3;
  background: #eb6b6b;
}

.text-field-re {
  position: relative;
  margin: 10px 2.5px 20px 2.5px;
}

input {
  display: inline-block;

  height: 45px;
  width: 100%;
  border-style: solid;
  border-radius: 10px;
  border-width: 2 px;
  border-color: #5356b3;
  background: #ffffff;
  padding: 10px 10px 10px 20px;
  /* border: thin solid #fafafa;
      border-bottom: solid medium #999;
      color: #444; */

  background-color: #fafafa;
  border-radius: 10px;
  /* border-top-left-radius: 10px;
      border-top-right-radius: 10px; */
}

input:focus {
  border: thin solid #5558b0;
  border-bottom: solid medium #5558b0;
  background-color: #fff;
}

label {
  color: #5558b0;
  position: absolute;
  pointer-events: none;
  left: 18px;
  top: 10px;
  transition: 0.2s;
}

input:focus ~ label,
input:valid ~ label {
  top: -15px;
  left: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #5558b0;
  background-color: #fff;
  padding: 0 5px 0 5px;
}

.re-butt {
  display: flex;
  background-color: #5558b0;
  color: white;
  height: 40px;
  border-radius: 10px;
  border: #5558b0;
  padding: 1rem 2rem 1rem 2rem;
  align-items: center;
}

.re-butt:hover {
  background-color: #7174db;
  color: #ffffff;
}

.link-text {
  text-decoration: none;
  color: #000000;
  opacity: 0.6;
  font-weight: 500;
  margin-top: 11px;
  margin-left: 8px;
}

.re-text {
  font-size: 15px;
  font-weight: 500;
}

.check-text {
    color: #5558b0;
}

.login-butt{
  white-space:nowrap
}