.biz-logo-body {
  width: 200px;
  /* height: 206px; */
  /* background-color: #725a5a; */
  margin: 3px 8px 0px 0px;
}

.biz-logo-card {
  width: 160px;
  height: 160px;
  background-color: #eaebfb;
  margin: 6px 4px 0px 0px;
  border-radius: 8px;
}

.biz-logo {
  width: 160px;
  height: 160px;
  font-size: 70px;
  color: #5558b0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 10px;
  margin-left: 4px; */
}

.biz-logo-card {
  width: 160px;
  height: 160px;
  background-color: #eaebfb;
  margin: 6px 4px 0px 0px;
  border-radius: 8px;
}

.biz-logo-2 {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #5558b0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 10px;
  margin-left: 4px; */
}
.biz-logo-select {
  width: 38px;
  height: 160px;
  /* background-color: #ffcaca; */
  margin: 6px 3px 0px 2px;
  
}
.can-scroll{
  width: 38px;
  height: 120px;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}

.biz-logo-submit {
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  margin: 10px 8px 0px 0px;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  font-size: 12px;

  border-radius: 5px;
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  border-color: #5356b3;
}
.circle-test {
  display: flex;
  
  width: 30px;
  height: 30px;
  background-color: #5356b3;
  border-radius: 20px;
  margin-bottom: 8px;
}

.litBox-test {
  width: 30px;
  height: 30px;
  background-color: #eaebfb;
  border-radius: 4px;
  margin-bottom: 6px;
}
